@font-face {
    font-family: fontRegular;
    src: url(fonts/Sansita-Regular.ttf);
}

@font-face {
    font-family: fontBold;
    src: url(fonts/Sansita-Bold.ttf);
}

@font-face {
    font-family: fontExtraBold;
    src: url(fonts/Sansita-ExtraBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    font-family: fontRegular;
}
h1 {
    font-family: fontExtraBold;
}

p, h2 {
    font-family: fontBold;
}

main {
    padding: 20px 100px;
    margin: 40px 100px 0px 100px;
    text-align: center;
    width: auto;
}

main h1 {
    position: relative;
    margin: 5rem 0rem;
    text-align: center;
}

main label {
    position: relative;
    font-family: fontBold;
    margin: 1rem 0rem;
}

main .inputBoxes input{
    width: 70%;
    height: 2rem;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    border: black;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    outline: none;
} 

#addBtn, #sBtn {
    position: relative;
    font-family: fontBold;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 1rem;
    margin: 1.5rem 0rem;
    width: 50%;
    background-color: black;
    color: white;
    outline: none;
}

.contactsList .cl-btn {
    border: none;
    font-size: 1rem;
    outline: none;
    width: fit-content;
}

.searchContainer, .addContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.inputBoxes {
    width: auto;
    display: flex;

}

.addContainer input {
    margin-bottom: 10px;
    width: auto;
}

#output {
    position: relative;
    bottom: 0px;
    background-color: #6486FF;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1rem 2rem 6.5rem 2rem;
}
.availableContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactsList {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.5rem;
    justify-content: space-evenly;
    background-color: white;
    width: 50%;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem;
}

.outputText {
    margin: 2rem;
}


@media (max-width: 800px) {
    main {
        padding: 20px 50px;
        margin: 40px 50px 0px 50px;
    }
    .inputBoxes {
        flex-direction: column;
    }
}